<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<meta name="description" content="">
	<!-- favicon icon -->
	<link rel="shortcut icon" href="images/favicon.webp">
	<link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.webp">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.webp">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.webp">
	<!-- google fonts preconnect -->
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!-- style sheets and font icons  -->
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/vendors.min.css" />
	<link rel="stylesheet" href="css/icon.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<HeadOutlet />
</head>

<body>
	<Routes />
	<script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/vendors.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/captcha.js"></script>
	<script src="/_framework/blazor.server.js"></script>
</body>
</html>