<!-- footer start -->
<div class="stack-item bg-dark-gray border-bottom border-top border-color-transparent-dark-very-light overflow-hidden" data-index="100">
	<div class="container text-white">
		<div class="row">
			<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5">
				<img src="images/logo/logo-ic-light.svg" alt="" class="mb-4" style="max-height: 45px;">
				<p class="opacity-50 fs-15px">Intuitive Care that comes to You.</p>
				<div class="elements-social social-icon-style-02">
					<ul class="small-icon light">
						<!-- <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li> -->
						<li><a class="instagram" href="https://www.instagram.com/intuitive_care_hha" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
						<li><a class="linkedin" href="https://www.linkedin.com/company/intuitive-care-home-health-agency/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
						<li><a class="twitter" href="https://x.com/IntuitiveCare_" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5 fs-14 lh-24">
				<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Home Health Services</span>
				<ul class="text-white m-0 p-0">
					<li><a class="text-white opacity-50" href="/skilled-nurse">Skilled Nurse</a></li>
					<li><a class="text-white opacity-50" href="/physical-therapy">Physical Therapy</a></li>
					<li><a class="text-white opacity-50" href="/occupational-therapy">Occupational Therapy</a></li>
					<li><a class="text-white opacity-50" href="/speech-language-pathology">Speech Languange Pathology</a></li>
					<li><a class="text-white opacity-50" href="/medical-social-welfare">Medical Social Welfare</a></li>
					<li><a class="text-white opacity-50" href="/home-health-aide">Home Health Aide</a></li>
					<li><a class="text-white opacity-50 d-xl-block d-none" href="#">&nbsp;</a></li>
				</ul>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5 fs-14 lh-24">
				<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Hospice Services</span>
				<ul class="text-white m-0 p-0">
					<li><a class="text-white opacity-50" href="/hospice-care">Hospice Care</a></li>
					<li><a class="text-white opacity-50" href="/palliative-care">Palliative Care</a></li>
					<li><a class="text-white opacity-50" href="/grief-and-bereavement-services">Grief & Bereavement</a></li>
				</ul>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-4 lg-mb-5 fs-14 lh-24">
				<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Get in touch</span>
				<p class="mb-5px fw-600 opacity-50">Contact Us</p>
				<a href="tel:+14699277003" class="text-white lh-16 d-block mb-4">(469) 927-7003</a>

				<p class="mb-5px fw-600 opacity-50">Fax</p>
				<a href="tel:+2145485655" class="text-white lh-16 d-block mb-4">(214) 548-5655</a>

				<p class="mb-5px fw-600 opacity-50">Send Referrals</p>
				<a href="mailto:intake@intuitivecarehha.com" class="text-white lh-16 d-block mb-15px">intake@intuitivecarehha.com</a>
			</div>
		</div>
		<hr class="divider-dotted border-white">
		<div class="row row-cols-1 row-cols-md-2 opacity-50 md-mt-6">
			<div class="col-auto">
				<div class="m-0 nav-link ps-0 fs-15 lh-15">Intuitive Care &COPY; <script>document.write(new Date().getFullYear());</script>.</div>
				<p class="fs-11 hpx-11 m-0 md-mb-3">Powered by <a href="https://winnolas.com/" class="text-white text-underline" target="_blank">Winnolas™</a></p>
			</div>
			<div class="col-auto">
				<ul class="d-flex flex-row gap-2 mb-0 p-0 fs-14 lh-14 justify-content-md-end justify-content-start">
					<li><a href="/privacy-policy" class="nav-link" style="white-space: nowrap;">Privacy Policy</a></li>
					<li class="ms-1"></li>
					<li><a href="/terms-and-conditions" class="nav-link" style="white-space: nowrap;">Terms and Conditions</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- footer end -->