@page "/career-form"

<SeoMeta Title="Apply Now | Join Intuitive Care Home Health & Hospice Team"
		 Description=""
		 Keywords=""
		 SocialTitle=""
		 SocialDescription=""
		 SocialImage=""
		 SocialUrl=""
		 SocialType=""
		 Canonical="" />

<body class="text-contents" data-mobile-nav-style="classic">
	<Header />
	<!-- start page title -->
	<section class="cover-background pb-4" style="background-image: url('images/bg-careers.png'); margin-bottom:-2rem;">
		<div class="container">
			<div class="row mt-10">
				<div class="col-xl-8 col-lg-8">
					<div class="text-dark-gray">
						<h2 class="fw-semibold mb-2">Join Our Team</h2>
						<p class="fs-18 lh-28 fw-medium mb-0" id="jobTitleHeader">
							Apply for this position and become part of our
							caring team.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->
	<!-- start section -->
	<section class="bg-ic-light-blue position-relative pt-0 pb-70px" style="border-radius: 2rem 2rem 0 0;  margin-bottom:-2rem;">
		<div class="container">
			<div class="card-body">
				<a href="/careers" class="btn btn-link mb-2 sm-mb-50px">
					<i class="fa-solid fa-arrow-left me-7px"></i> Back
					to Jobs
				</a>

				<!-- Job Info Card -->
				<div class="p-30px bg-white bg-opacity-75 border-radius-15px mb-20px">
					<h4 class="fs-24px fw-bold text-dark-gray mb-0" id="jobTitle"></h4>
					<div class="fw-500 fs-18px mb-10px d-none" id="jobFacility"></div>
					<hr class="divider-dotted">
					<div class="d-flex flex-wrap gap-2" id="jobBadges"></div>
				</div>

				<!-- Application Form -->
				<div class="p-40px bg-white border-radius-15px">
					<h5 class="fs-22px fw-bold text-dark-gray mb-0">Application Form</h5>
					<CareersForm @rendermode="InteractiveServer" />
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- start footer -->
	<footer class="bg-dark-gray py-3 position-relative">
		<div class="container text-white">
			<div class="row">
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5">
					<img src="images/logo/logo-ic-light.svg" alt="" class="mb-4" style="max-height: 45px;">
					<p class="opacity-50 fs-15px">Intuitive Care that comes to You.</p>
					<div class="elements-social social-icon-style-02">
						<ul class="small-icon light">
							<!-- <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li> -->
							<li><a class="instagram" href="https://www.instagram.com/intuitive_care_hha" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a class="linkedin" href="https://www.linkedin.com/company/intuitive-care-home-health-agency/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
							<li><a class="twitter" href="https://x.com/IntuitiveCare_" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5 fs-14 lh-24">
					<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Home Health Services</span>
					<ul class="text-white m-0 p-0">
						<li><a class="text-white opacity-50" href="/skilled-nurse">Skilled Nurse</a></li>
						<li><a class="text-white opacity-50" href="/physical-therapy">Physical Therapy</a></li>
						<li><a class="text-white opacity-50" href="/occupational-therapy">Occupational Therapy</a></li>
						<li><a class="text-white opacity-50" href="/speech-language-pathology">Speech Languange Pathology</a></li>
						<li><a class="text-white opacity-50" href="/medical-social-welfare">Medical Social Welfare</a></li>
						<li><a class="text-white opacity-50" href="/home-health-aide">Home Health Aide</a></li>
						<li><a class="text-white opacity-50 d-xl-block d-none" href="#">&nbsp;</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5 fs-14 lh-24">
					<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Hospice Services</span>
					<ul class="text-white m-0 p-0">
						<li><a class="text-white opacity-50" href="/hospice-care">Hospice Care</a></li>
						<li><a class="text-white opacity-50" href="/palliative-care">Palliative Care</a></li>
						<li><a class="text-white opacity-50" href="/grief-and-bereavement-services">Grief & Bereavement</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-4 lg-mb-5 fs-14 lh-24">
					<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Get in touch</span>
					<p class="mb-5px fw-600 opacity-50">Contact Us</p>
					<a href="tel:+14699277003" class="text-white lh-16 d-block mb-4">(469) 927-7003</a>

					<p class="mb-5px fw-600 opacity-50">Fax</p>
					<a href="tel:+2145485655" class="text-white lh-16 d-block mb-4">(214) 548-5655</a>

					<p class="mb-5px fw-600 opacity-50">Send Referrals</p>
					<a href="mailto:intake@intuitivecarehha.com" class="text-white lh-16 d-block mb-15px">intake@intuitivecarehha.com</a>
				</div>
			</div>
			<hr class="divider-dotted border-white">
			<div class="row row-cols-1 row-cols-md-2 opacity-50 md-mt-6">
				<div class="col-auto">
					<div class="m-0 p-0 nav-link fs-15 lh-15 text-white">
						Intuitive Care &COPY;
						<script>document.write(new Date().getFullYear());</script>.
					</div>
					<p class="fs-11 hpx-11 m-0 md-mb-3">Powered by <a href="https://winnolas.com/" class="text-white opacity-75 text-underline" target="_blank">Winnolas™</a></p>
				</div>
				<div class="col-auto">
					<div class="d-flex flex-md-row flex-column gap-2 fs-14 lh-20">
						<a href="/privacy-policy" class="text-white opacity-75 ms-md-auto" style="white-space: nowrap;">Privacy Policy</a>
						<a href="/terms-and-conditions" class="text-white opacity-75" style="white-space: nowrap;">Terms and Conditions</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<script type="text/javascript" src="js/jobs-data.js"></script>
	<script type="text/javascript">
		// Load job details from URL parameter (header card only; Position Desired is set in CareersForm from ?jobTitle=)
		document.addEventListener("DOMContentLoaded", () => {
		const jobs = window.jobs;
		const params = new URLSearchParams(window.location.search);
		const id = params.get("id");
		const job = jobs.find(j => j.id == id);

		if (job) {
		document.getElementById("jobTitleHeader").textContent = `Apply for ${job.title}`;
		document.getElementById("jobTitle").textContent = job.title;
		document.getElementById("jobFacility").textContent = job.facility;
		document.getElementById("jobBadges").innerHTML = `
		<div class="badge rounded-pill pt-5px pb-5px ps-10px pe-10px fs-14px border border-2 border-color-dark-gray text-dark-gray">${job.payrate}</div>
		<div class="badge rounded-pill pt-5px pb-5px ps-10px pe-10px fs-14px border border-2 border-color-dark-gray text-dark-gray">${job.county} - ${job.city}</div>
		<div class="badge rounded-pill pt-5px pb-5px ps-10px pe-10px fs-14px border border-2 border-color-dark-gray text-dark-gray">${job.shift}</div>
		<div class="badge rounded-pill pt-5px pb-5px ps-10px pe-10px fs-14px border border-2 border-color-dark-gray text-dark-gray">${job.status}</div>
		`;
		}
		});
	</script>
</body>