@page "/careers"

<SeoMeta Title="Careers | Join Intuitive Care Home Health & Hospice Team Dallas TX"
		 Description=""
		 Keywords=""
		 SocialTitle=""
		 SocialDescription=""
		 SocialImage=""
		 SocialUrl=""
		 SocialType=""
		 Canonical="" />

<Header />

<body class="text-contents" data-mobile-nav-style="classic">
<!-- start page title -->
<section class="cover-background pb-4" style="background-image: url('images/bg-careers.png'); margin-bottom:-2rem;">
	<div class="container">
		<div class="row mt-10">
			<div class="col-xl-5 col-lg-6">
				<div class="text-dark-gray">
					<h2 class="fw-semibold">Grow With Our <br>Care Team</h2>
					<p class="fs-20 lh-28 fw-medium">
						At Intuitive Care Home Health & Hospice, we’re proud to deliver skilled, compassionate care where patients feel most comfortable — at home. Join our growing team
						of clinicians and professionals dedicated to healing, dignity, and independence.
					</p>
				</div>
			</div>
			<div class="col-lg-4 offset-xl-3 offset-lg-2 text-lg-end text-start"></div>
		</div>
	</div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="bg-ic-light-blue position-relative pt-0 pb-60px" style="border-radius: 2rem 2rem 0 0;  margin-bottom:-2rem;">
	<div class="container">
		<div class="career-lists">
			<div class="career-filters">
				<div class="filter-header gap-3 align-items-center">
					<h5 class="mb-0 text-dark-gray fs-20 fw-bold">Job Filters</h5>
					<button id="clearFilters" class="btn btn-dark-gray d-table d-lg-inline-block rounded-pill fs-12 lh-11 fw-700 pt-0px pb-0px ps-10px pe-10px text-capitalize" style="height:27px;">Clear Filters</button>
				</div>
				<hr class="divider-dotted my-0">
				<div class="filter-selection bg-white bg-opacity-50 p-25px border-radius-15px">

					<div>
						<label class="form-label mb-0 fs-13px text-dark-gray text-uppercase fw-700">Position</label>
						<select id="filter-position" multiple>
							<option value="rn">Registered Nurse</option>
							<option value="lvn">Licensed Vocational Nurse</option>
							<option value="pt">Physical Therapist</option>
							<option value="pta">Physical Therapy Assistant</option>
							<option value="ot">Occupational Therapist</option>
							<option value="cna">Home Health Aide</option>
							<option value="cg">Caregiver</option>
							<option value="cgn">Caregiver (No Experience)</option>
							<option value="pca">Peronal Care Attendant</option>
						</select>
					</div>

					<div>
						<label class="form-label mb-0 fs-13px text-dark-gray text-uppercase fw-700">County</label>
						<select id="filter-county" multiple>
							<!-- Dallas–Plano–Irving -->
							<optgroup class="fs-16px fw-bold" label="Dallas–Plano–Irving">
								<option value="Collin">Collin</option>
								<option value="Dallas">Dallas</option>
								<option value="Denton">Denton</option>
								<option value="Grayson">Grayson</option>
								<option value="Ellis">Ellis</option>
								<option value="Hunt">Hunt</option>
								<option value="Kaufman">Kaufman</option>
								<option value="Rockwall">Rockwall</option>
							</optgroup>

							<!-- Fort Worth–Arlington -->
							<optgroup class="fs-16px fw-bold" label="Fort Worth–Arlington">
								<option value="Tarrant">Tarrant</option>
								<option value="Hood">Hood</option>
								<option value="Johnson">Johnson</option>
								<option value="Parker">Parker</option>
								<option value="Somervell">Somervell</option>
								<option value="Wise">Wise County</option>
							</optgroup>
						</select>
					</div>

					<div>
						<label class="form-label mb-0 fs-13px text-dark-gray text-uppercase fw-700">City</label>
						<select id="filter-city">
							<!-- Valid county selection will populate this -->

						</select>
					</div>

					<div>
						<label class="form-label mb-0 fs-13px text-dark-gray text-uppercase fw-700">Shift</label>
						<select id="filter-shift" multiple>
							<option value="Day Job">Day Job</option>
							<option value="Evening Job">Evening Job</option>
							<option value="Night Job">Night Job</option>
							<option value="Flex Time">Flex Time</option>
							<option value="On Call">On Call</option>
							<option value="Rotating">Rotating</option>
						</select>
					</div>

					<div>
						<label class="form-label mb-0 fs-13px text-dark-gray text-uppercase fw-700">Status</label>
						<select id="filter-status">
							<option value="">All</option>
							<option value="Full-Time">Full-time</option>
							<option value="Part-Time">Part-time</option>
							<option value="PRN">PRN</option>
							<option value="Contract">Contract</option>
						</select>
					</div>


				</div>
			</div>

			<div class="career-items d-flex flex-column gap-3">
				<div class="d-flex  align-items-center  gap-3">
					<h5 class="mb-0 text-dark-gray fs-20 fw-bold"><span id="jobCount">(0)</span> Available Jobs</h5>

				</div>

				<hr class="divider-dotted my-0">

				<div class="job-items" id="jobList"></div>

				<!-- Pagination Controls -->
				<div id="paginationControls" class="mt-4"></div>
			</div>
		</div>


	</div>

</section>
<!-- end section -->

	<!-- start footer -->
	<footer class="bg-dark-gray py-3 position-relative">
		<div class="container text-white">
			<div class="row">
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5">
					<img src="images/logo/logo-ic-light.svg" alt="" class="mb-4" style="max-height: 45px;">
					<p class="opacity-50 fs-15px">Intuitive Care that comes to You.</p>
					<div class="elements-social social-icon-style-02">
						<ul class="small-icon light">
							<!-- <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li> -->
							<li><a class="instagram" href="https://www.instagram.com/intuitive_care_hha" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a class="linkedin" href="https://www.linkedin.com/company/intuitive-care-home-health-agency/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
							<li><a class="twitter" href="https://x.com/IntuitiveCare_" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5 fs-14 lh-24">
					<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Home Health Services</span>
					<ul class="text-white m-0 p-0">
						<li><a class="text-white opacity-50" href="/skilled-nurse">Skilled Nurse</a></li>
						<li><a class="text-white opacity-50" href="/physical-therapy">Physical Therapy</a></li>
						<li><a class="text-white opacity-50" href="/occupational-therapy">Occupational Therapy</a></li>
						<li><a class="text-white opacity-50" href="/speech-language-pathology">Speech Languange Pathology</a></li>
						<li><a class="text-white opacity-50" href="/medical-social-welfare">Medical Social Welfare</a></li>
						<li><a class="text-white opacity-50" href="/home-health-aide">Home Health Aide</a></li>
						<li><a class="text-white opacity-50 d-xl-block d-none" href="#">&nbsp;</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-6 lg-mb-5 fs-14 lh-24">
					<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Hospice Services</span>
					<ul class="text-white m-0 p-0">
						<li><a class="text-white opacity-50" href="/hospice-care">Hospice Care</a></li>
						<li><a class="text-white opacity-50" href="/palliative-care">Palliative Care</a></li>
						<li><a class="text-white opacity-50" href="/grief-and-bereavement-services">Grief & Bereavement</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-0 md-mb-4 lg-mb-5 fs-14 lh-24">
					<span class="fs-16 lh-16 mb-3 fw-600 text-uppercase d-block text-white mb-5px">Get in touch</span>
					<p class="mb-5px fw-600 opacity-50">Contact Us</p>
					<a href="tel:+14699277003" class="text-white lh-16 d-block mb-4">(469) 927-7003</a>

					<p class="mb-5px fw-600 opacity-50">Fax</p>
					<a href="tel:+2145485655" class="text-white lh-16 d-block mb-4">(214) 548-5655</a>

					<p class="mb-5px fw-600 opacity-50">Send Referrals</p>
					<a href="mailto:intake@intuitivecarehha.com" class="text-white lh-16 d-block mb-15px">intake@intuitivecarehha.com</a>
				</div>
			</div>
			<hr class="divider-dotted border-white">
			<div class="row row-cols-1 row-cols-md-2 opacity-50 md-mt-6">
				<div class="col-auto">
					<div class="m-0 p-0 nav-link fs-15 lh-15 text-white">
						Intuitive Care &COPY;
						<script>document.write(new Date().getFullYear());</script>.
					</div>
					<p class="fs-11 hpx-11 m-0 md-mb-3">Powered by <a href="https://winnolas.com/" class="text-white opacity-75 text-underline" target="_blank">Winnolas™</a></p>
				</div>
				<div class="col-auto">
					<div class="d-flex flex-md-row flex-column gap-2 fs-14 lh-20">
						<a href="/privacy-policy" class="text-white opacity-75 ms-md-auto" style="white-space: nowrap;">Privacy Policy</a>
						<a href="/terms-and-conditions" class="text-white opacity-75" style="white-space: nowrap;">Terms and Conditions</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->


	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
	<script type="text/javascript" src="/js/careers.js"></script>
	<script type="text/javascript" src="/js/jobs-data.js"></script>

</body>

