@page "/career-details"

<SeoMeta Title="Job Opportunity | Intuitive Care Careers Dallas TX"
		 Description=""
		 Keywords=""
		 SocialTitle=""
		 SocialDescription=""
		 SocialImage=""
		 SocialUrl=""
		 SocialType=""
		 Canonical="" />

<Header/>

<body class="text-contents" data-mobile-nav-style="classic">
<!-- start page title -->
<section class="cover-background pb-4" style="background-image: url('images/bg-careers.png'); margin-bottom:-2rem;">
	<div class="container">
		<div class="row mt-10">
			<div class="col-xl-5 col-lg-6">
				<div class="text-dark-gray">
					<!-- <h2 class="fw-semibold">Grow With Our <br>Care Team</h2>
						<p class="fs-20 lh-28 fw-medium">At Intuitive Care Home Health & Hospice, we’re proud to deliver skilled, compassionate care where patients feel most comfortable — at home. Join our growing team
							of clinicians and professionals dedicated to healing, dignity, and independence.</p> -->
				</div>
			</div>
			<div class="col-lg-4 offset-xl-3 offset-lg-2 text-lg-end text-start"></div>
		</div>
	</div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="bg-ic-light-blue position-relative pt-0 pb-70px" style="border-radius: 2rem 2rem 0 0;  margin-bottom:-2rem;">
	<div class="container">
		<div class="card-body">
			<a href="/careers" class="btn btn-link mb-3 sm-mb-50px"><i class="fa-solid fa-arrow-left me-7px"></i> Back to Jobs</a>

			<h3 class="fs-30px fw-bold text-dark-gray mb-0" id="jobTitle"></h3>
			<div class="fw-600 fs-20px d-none" id="jobFacility"></div>
			<hr class="divider-dotted">
			<div class="d-flex flex-wrap gap-2 mb-15px" id="jobBadges"></div>
			<div id="jobDescription" class="p-30px bg-white bg-opacity-75 border-radius-15px mb-30px"></div>

			<a id="applyButton" href="#" class="btn pt-15px pb-15px ps-20px pe-20px btn-dark-gray d-table d-lg-inline-block rounded-pill fw-700 text-capitalize fs-18">Apply Now</a>
		</div>
	</div>
</section>
<!-- end section -->

<Footer/>

	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
	<script type="text/javascript" src="js/career.details.js"></script>
	<script type="text/javascript" src="js/jobs-data.js"></script>
</body>
